[user]
	email = nathanaelbailey@gmail.com
	name = Nate Bailey
[core]
	excludesfile = /Users/nathanbailey/.gitignore_global
	editor = /usr/local/bin/nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/nathanbailey/.stCommitMsg
[rerere]
	enabled = true
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lt = describe --tags --abbrev=0
    rn = "!git log $(git describe --tags --abbrev=0)..HEAD --oneline --merges"
    # rn = "!git log $(git describe --tags --abbrev=0)..HEAD --oneline | grep -v '^Merge\spull\srequest\s#([0-9]+)|\(#([0-9]+)\)$'"
    prune = "!git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d"
