[user]
    email = nathanaelbailey@gmail.com
    name = Nate Bailey
[core]
    excludesfile = /Users/nate.bailey/.gitignore_global
    editor = /usr/local/bin/nvim
[commit]
    template = /Users/nate.bailey/.stCommitMsg
[rerere]
    enabled = true
[alias]
    # Format `git log` nicely
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    # Print the most recent tag
    lt = describe --tags --abbrev=0
    # Generate release notes by printing all merge commit messages since the last tag
    rn = "!git log $(git describe --tags --abbrev=0)..HEAD --oneline --merges"
    # Remove all local branches that have been merged into master
    prune = "!git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d"
